* {
  box-sizing: border-box;
border: 1px black solid;
}

body { margin: 0;

}


#page {
  display: grid;
  background-image: url("https://i.ytimg.com/vi/n_KrxgXrU4w/maxresdefault.jpg");
  grid-template-columns: repeat(5, 1fr);
}


#menu {
  background-image: url("https://i.ytimg.com/vi/n_KrxgXrU4w/maxresdefault.jpg");
  text-align: center;
  grid-column: 1 / 6;
  grid-row: 1;
 }

#menu::after {
  content: "";
  clear: both;
  display: table;
}

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
 }

 li {
   float: left;
 }

 li a {
   display: block;
   color: white;
   font-weight: bold;
   text-align: center;
   padding: 10px 12px;
   text-decoration: none;
 }

 li a:hover {
   background-color: #111;
 }


 input {
   background-color: white
 }

form {
background-color: #333;
display: block;
color: white;
font-weight: bold;
text-align: right;
padding: 10px 12px;
text-decoration: none;


}

 #foto {
  grid-column: 1 / 6;
  grid-row: 2;
  text-align: center;
  border: 0;
 }


#cards {
  grid-column: 1 / 6;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-image: url("https://i.ytimg.com/vi/n_KrxgXrU4w/maxresdefault.jpg");
}


.card {
  background-image: url("https://i.ytimg.com/vi/n_KrxgXrU4w/maxresdefault.jpg");
  text-align: left;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  margin: 1em;
  color: white;
  font-weight: normal;

}

.card > a {
  background-color: #0083dd;
  border: none;
}

.card1 {
  background-image: url("https://i.ytimg.com/vi/n_KrxgXrU4w/maxresdefault.jpg");
  text-align: left;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  margin: 1em;
  color: white;
  font-weight: bold;
}

.card2 {
  background-image: url("https://i.ytimg.com/vi/n_KrxgXrU4w/maxresdefault.jpg");
  text-align: left;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  margin: 1em;
  color: white;
  font-weight: bold;
}

.card3 {
  background-image: url("https://i.ytimg.com/vi/n_KrxgXrU4w/maxresdefault.jpg");
  text-align: left;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  margin: 1em;
  color: white;
  font-weight: bold;
}


.titulo {
font-size: 60px;
font-weight: bold;
color: white
}



#bottom {
  text-align: center;
  grid-column: 1 / 6;
  grid-row: 5;
  background-color: white;
  color: black;
}


#footer {
  grid-column: 1 / 6;
  grid-row: 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  color: black;
}


#footer-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
}
